@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.App {
  text-align: center;
  background-color: #282c34;

  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
  margin: 50px;
}
* {
  font-family: "Montserrat", sans-serif;
}
.mid {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-wrap: wrap;
}
.movie {
  margin: 1rem;
  width: 250px;
  background-color: #373f4f;
  cursor: pointer;
  box-shadow: 3px 3px 5px rrgba(0, 0, 0, 0.4);
  height: 80%;
}
